.site-background {
  background: #efefef; }

.absolute {
  position: absolute; }

.white-text {
  color: #fff; }

.hero {
  height: 100vh;
  margin-left: -15px;
  margin-right: -15px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }
  .hero img {
    position: absolute;
    height: auto;
    min-height: 100vh;
    min-width: 100%;
    display: block;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto; }
  .hero .gradient {
    content: '';
    height: 100vh;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .8; }
  .hero .hero-text {
    position: absolute;
    z-index: 999;
    color: #fff;
    top: 70%;
    left: 0;
    right: 0;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .hero .hero-text {
        top: 60%; } }
    .hero .hero-text h1 {
      font-size: 7rem;
      font-weight: 300; }
      @media screen and (max-width: 425px) {
        .hero .hero-text h1 {
          font-size: 4rem; } }
    .hero .hero-text h2 {
      font-size: 3.5rem;
      font-weight: 300; }
      @media screen and (max-width: 425px) {
        .hero .hero-text h2 {
          font-size: 2rem; } }

.gold-border {
  border-style: solid;
  border-color: gold;
  border-width: 5px; }

.splash {
  filter: brightness(35%); }

.content {
  text-align: center; }

.no-margins {
  margin: 0px 0px 0px 0px; }

.no-padding {
  padding: 0px; }

p {
  font-size: 24px; }
  @media screen and (max-width: 768px) {
    p {
      font-size: 18px; } }

@media screen and (max-width: 425px) {
  .splash-header {
    font-size: 24px; } }

@media screen and (max-width: 425px) {
  .lore-text {
    font-size: 0px; } }

.y-margin {
  margin-top: 15px; }

.yy-margin {
  margin-top: 30px; }

.y-margin-bot {
  margin-bottom: 15px; }

.footer {
  margin-top: 75px; }

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition: 0.5s linear all;
  opacity: 0; }

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity: 1; }

/* The starting CSS styles for the enter animation */
.longFade {
  animation: fadein 2s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.dim.ng-enter {
  transition: 0.5s linear all;
  filter: brightness(0%); }

.dim.ng-enter.ng-enter-active {
  filter: brightness(35%); }
